h1 {
    font-size: 60px;
    text-align: center;color:red;
    margin: 0;
  padding: 20px 0;    
  text-shadow: 3px 3px 1px black;
}
a:link {
    color: blue;
}
a:visited {
    color: red;
}

html {
    background-color: #0afa02;
    font-size: 16px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
  }
p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #fbff00;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  img {
    
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }